services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - product-service
      - order-service

  user-service:
    build: ./user-service
    ports:
      - "5001:5001"

  product-service:
    build: ./product-service
    ports:
      - "5002:5002"

  order-service:
    build: ./order-service
    ports:
      - "5003:5003"
